/*!                 Footer  Styles  */

/*@  --------    Mobile      ---------     */

/*. ---  @ Properties / @ Keyframes ---   */
/*st     Navigation Icons Effect    */

@keyframes iconMove {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 2px;
  }
  40% {
    bottom: 4px;
  }
  60% {
    bottom: 6px;
  }
  80% {
    bottom: 8px;
  }
  100% {
    bottom: 10px;
  }
}

/*mt       Footer         */
footer {
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap: 10px; */
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  /* height: 15rem; */
  background-color: black;
}

/**  Footer Section Title   */
footer h1:first-child {
  /* border: 1px solid yellow; */
  grid-column: span 3;
  height: 2.5rem;
  font-size: 16px;
  font-family: cursive;
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-top: 5px;
}

/*st    Media Links    */
.footerMediaLinks_Cont {
  /* border: 1px solid green; */
  grid-column: span 3;
  height: 50px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 2px;
}

.footerMediaLinks_Cont a {
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  font-size: 25px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 1px;
  box-shadow: 0 0 10px rgb(173, 173, 173);
}

/*st    Media Links Color   */
.fa-square-facebook {
  color: blue;
}

.fa-square-instagram {
  color: #940350;
}

.fa-square-linkedin {
  color: rgba(1, 1, 250, 0.664);
}

.fa-google {
  color: grey;
}

/*st    Media Links Hover Effects  */
.footerMediaLinks_Cont a:hover {
  border: 1px solid greenyellow;
  position: relative;
  background-color: rgb(203, 207, 211);
  border-radius: 5px;
  animation: iconMove 1s linear infinite;
}

.fa-google:hover {
  color: white;
}

footer section {
  /* border: 1px solid white; */
  border-radius: 5px;
  /* height: 12rem; */
  margin: 5px;
  margin-top: 20px;
  /* margin-top: px; */
}

footer section a {
  display: block;
  color: white;
  font-size: 14px;
  font-family: cursive;
  text-decoration: none;
  text-align: center;
  padding: 2px;
  margin: 1px;
}

/**    Footer Section Links Hover Effects   */

footer section a:hover {
  border-radius: 5px;
  background-color: rgb(65, 64, 64);
  color: greenyellow;
}
