/*! All  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*! Logo */

.logo_Cont {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    border-radius: 10px;
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    justify-content: center;
}

/*! Navigation */

/**  Nav Icons */

li a {
    /* border: 1px solid green; */
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 2px;
}


/** Back Up Nav Btns */
nav {
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    height: 75px;
}

ul {
    display: flex;
    /* border: 1px solid red; */
    list-style-type: none;
    justify-content: center;
    margin-top: 8px;
}

li {
    padding-left: 15px;
    padding-right: 15px;
}

/** Back Up Nav Btns */
/* li a {
  border: 1px solid green;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 1px;
} */

li a:hover {
    background-color: rgb(65, 64, 64);
    border-radius: 1px;
}

/*? Navigation active Class */
.nav_Active {
    background-color: rgb(65, 64, 64);
    border-radius: 1px;
}