/*@    ---              ----- Mobile -----           ---    */

/*mt  Customer Reviews Cont         -- Mobile -- */
.comments_Bar {
  border: 1px solid rgb(12, 247, 4);
  background-color: white;
  width: 95%;
  height: 70rem;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: scroll; */
}

/*st  Avg Rating Cont */
.avgRate_Cont {
  /* border: 1px solid blue; */
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/*  Title  */
.avgRate_Cont h2 {
  text-align: center;
  font-size: 22px;
  font-family: cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*mt     Star Rating/ Review total  */
/*st  Star Rating Cont */
.starAverRate {
  /* border: 1px solid black; */
  /* width: 160px; */
  /* color: gold; */
  margin: 0 auto;
  margin-bottom: 10px;
  /* padding-left: 10px; */
}

/*  Sub-Title */
.starAverRate h6 {
  /* border: 1px solid green; */
  font-size: 16px;
  text-align: center;
}

/* Avg Rating  */
#avgRating {
  /* border: 1px solid yellow; */
  font-size: 22px;
  margin-left: 55px;
  color: goldenrod;
}

/* Review total count  */
#commentCount {
  font-size: 12px;
  color: grey;
}


/*mt   Reviews  Cont        -- Mobile --   */
.reviewsReturn_Cont {
  border: 1px solid red;
  height: 62rem;
  padding: 2px;
  overflow: scroll;
}



/*!   For  Comments Edit ( comments.js ) */
.comment-card {
  background: #1e1e1e;
  color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.comment-actions {
  margin-top: 10px;
}

.comment-actions button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

