/*mt    Comments / Reviews / Link to Form   */

.comments_Bar {
  /* border: 1px solid red; */
  background-color: white;
  width: 95%;
  height: 30rem;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: scroll; */
}

.comments_Link {
  /* border: 1px solid blue; */
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.comments_Link h2 {
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**   Comments Section Hover Effects   */

.commentsList_Cont {
  /* border: 1px solid orange; */
  width: 98%;
  height: 25rem;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: scroll;
}

.commentsList_Cont section {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 5px;
  font-family: cursive;
  margin-bottom: 10px;
}

.commentsList_Cont section:hover {
  background-color: rgb(65, 64, 64);
  color: greenyellow;
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.commentsList_Cont section p {
  /* border: 1px solid black; */
  font-size: 10px;
  color: greenyellow;
  /* margin-bottom: 5px; */
}

.commentsList_Cont section p:last-child {
  /* border: 1px solid black; */
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: black;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}
