/*!  -----   Contact Page Styles  -----  */

/*@   ----------------    Mobile   ----------------------     */

/*.     Universal Styles (-Body-)  */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(var(--startBgColor), var(--endBgColor));
  animation: bgColor 15s linear infinite;
  transform: ease;
  scroll-behavior: smooth;
}

/*mt     Contact Card (Top Banner)     */
.contactCard_Cont {
  /* border: 1px solid red; */
  margin-top: 2rem;
  margin-bottom: 5rem; /*@    Remove  (Footer space) */
  /* padding: 5px; */ /*@    Remove  (Footer space) */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactCard_Cont h2 {
  /* border: 1px solid green; */
  background-color: lightgray;
  color: black;
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
  text-shadow: 1px 1px white;
}

/*st     Contact Card Items     */
.contactCard_Items {
  display: grid;
  grid-template-columns: auto auto auto;
  /* border: 1px solid blue; */
  background-color: white;
  padding: 10px;
}

.contactCard_Items p {
  /* border: 1px solid yellow; */
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.contactCard_Items p a {
  border: 1px outset black;
  border-radius: 5px;
  color: black;
  background-color: rgb(165, 164, 164);
  text-decoration: none;
  padding: 2px;
}

.contactCard_Items p a:hover {
  border: 1px outset greenyellow;
  background-color: rgb(128, 128, 128);
  color: greenyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
