/*!  --------   Icon Move Animation  --------   */

/*st     Navigation/ Footer - Icons Effect    */

@keyframes iconMove {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 2px;
  }
  40% {
    bottom: 4px;
  }
  60% {
    bottom: 6px;
  }
  80% {
    bottom: 8px;
  }
  100% {
    bottom: 10px;
  }
}
