/*!             Contact Form Page Styles                 */

/*.     Universal Styles    (-Body-) */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(230, 230, 230); */
  background: linear-gradient(var(--startBgColor), var(--endBgColor));
  animation: bgColor 10s linear infinite;
  transform: ease;
  scroll-behavior: smooth;
}

/*mt      Contact Form      */

header h1 {
  font-size: 2rem;
  font-family: cursive;
  background-color: lightgray;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 4rem;
  cursor: pointer;
  text-shadow: 1px 1px white;
}

#contactForm {
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: white;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/**  Form Name Inputs */
#name,
#email,
#phone,
#address {
  border: 1px inset #ccc;
  border-radius: 3px;
  background-color: aliceblue;
  color: rgb(8, 1, 104);
  width: 100%;
  font-size: 1rem;
  font-family: cursive;
  margin-bottom: 10px;
  padding: 5px;
}

/** Form Email Input */
#contactForm textarea {
  border: 1px inset #ccc;
  border-radius: 3px;
  background-color: aliceblue;
  color: rgb(8, 1, 104);
  width: 100%;
  height: 100px;
  font-size: 1rem;
  font-family: cursive;
  margin-bottom: 15px;
  padding: 5px;
}

/** Form Type Option Container */
.formType_Cont {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 15px;
}

.formType_Cont label {
  font-size: 1rem;
  font-family: cursive;
}

.formType_Cont select {
  border: 1px outset black;
  border-radius: 3px;
  background-color: black;
  color: white;
  padding: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
}

.formType_Cont select:hover {
  border: 1px outset greenyellow;
  background-color: rgb(65, 64, 64);
  color: greenyellow;
}

/** Form Rating Container */
.formRating_Cont {
  display: flex;
  /* border: 1px solid green; */
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 50px;
}

.formRating_Cont label {
  font-size: 1rem;
  font-family: cursive;
}

#rating {
  display: flex;
  border: 1px outset black;
  border-radius: 3px;
  background-color: black;
  color: white;
  width: 60px;
  padding: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
}

#rating:hover {
  border: 1px outset greenyellow;
  background-color: rgb(65, 64, 64);
  color: greenyellow;
}

/** Form Submit Button */
#contactForm button {
  display: block;
  border: 1px outset black;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 5px 10px;
  font-size: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
  cursor: pointer;
}

#contactForm button:hover {
  border: 1px outset greenyellow;
  background-color: rgb(65, 64, 64);
  color: greenyellow;
}
